a {
    color: #bcdb73;
}

.nav a:hover,.nav a.active {
    color: darken(#bcdb73, 40%);
}

.about strong {
    color: #bcdb73;
}

.about .they {
    background-image: url(../images/decor-pistachio.png);
}

input[type='submit'] {
    background: #88b322;
}

input.error {
    background: #cfe59c;
}

.contact {
    background-color: #bcdb73;
    border-top: 10px solid #bcdb73;
    box-shadow: inset 0 10px 6px -9px #b2d65f;
}

.contact h2 {
    color: #fff;
}

.contact h3,.contact #note {
    color: darken(#bcdb73, 40%);
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}

.no-touch.opacity .checkbox label:before {
    background: #88b322;
}

@media only screen and (min-width: 768px) {
    .nav-container .effect {
        background: #bcdb73;
    }

    .contact-details-1,.ie-fix .contact-details-1 {
        border-right: 1px solid #88b322;
    }

    .contact-details-2,.ie-fix .contact-details-2 {
        border-left: 1px solid #88b322;
    };
}

@media only screen and (min-width: 1024px) and (min-height: 830px) {
    .header h2 {
        background-image: url(../images/decor-pistachio.png);
    };
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .about .they {
        background-image: url(../images/decor-pistachio@2x.png);
    };
}

@media only screen and (min-width: 1024px) and (min-height: 830px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1024px) and (min-height: 830px) and (min-width: 1024px) and (min-height: 830px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1024px) and (min-height: 830px) and (min-device-pixel-ratio: 1.5) {
    .header h2 {
        background-image: url(../images/decor-pistachio@2x.png);
    };
}
