<section id="about" class="about clearfix">
	<div class="she">
		<p>
			<strong>η Ευη Αναγνωστακου</strong><br>γεννήθηκε πριν από 29 χρόνια στην Αθήνα και μεγάλωσε στον Άλιμο! Περνούσε τα καλοκαίρια της στην Κορινθία και τη Μάνη, κάνοντας ποδήλατο και πολλά μπάνια στην θάλασσα! Της άρεσε να χορεύει (ακόμα της αρέσει!), να γελάει και να μαγειρεύει! Μεγαλώνοντας ανακάλυψε πως της αρέσει το θέατρο και να βρίσκει συνταγές μαγειρικής!
			</p>
	</div>
	<div class="he">
		<p>
			<strong>ο Μαριος Αντωνουδιου</strong><br>γεννήθηκε και μεγάλωσε στην Καβάλα πριν από 31 χρόνια! Περνούσε τα καλοκαίρια του στην όμορϕη Κύπρο κάνοντας ποδήλατο και παίζοντας ηλεκτρονικά παιχνίδια (ακόμα το κάνει!). Μεγαλώνοντας (και ψηλώνοντας) ανακάλυψε πως του αρέσουν οι υπολογιστές και η μουσική!
		</p>
	</div>
	<div class="they">
		<p>
			<strong>Η Άρτα</strong><br>πόλη ορόσημο και για τους δύο, αϕού πέρασαν τα υπέροχα ϕοιτητικά τους χρόνια εκεί και ϕυσικά το μέρος γνωριμίας τους! "Το γεϕύρι της Άρτας", ένωσε την Εύη και τον Μάριο και δεν θα πάψει να είναι η αγαπημένη τους πόλη! Επειδή κάθε έρωτας θέλει και τη στέγη του, σήμερα μένουν στο σπίτι τους στον Άλιμο παρέα με έναν υπέροχο χνουδωτό γάτο, τον Μάρκο!
		</p>
		<p>
			<strong>ο Νικος Πολατος</strong><br>όταν αποχαιρετούσε την Εύη για να πάει στην Άρτα, ούτε που το ϕανταζότανε πως θα αποκτούσε έναν ακόμα πολύ καλό ϕίλο, τον Μάριο! Εκείνο όμως που δεν ϕανταζότανε κανείς μας, είναι πως θα ερχόταν η ημέρα που η ϕιλία αυτή θα γινόταν συγγένεια! Τιμή μας, κουμπάρε!
		</p>
	</div>
</section>