<section  id="ceremony" class="flex-container ceremony">
	
	<div class="flexslider">
		<ul class="slides">
			<li style="background-image: url(images/slide0.jpg);"></li>
			<li style="background-image: url(images/slide1.jpg);"></li>
			<li class="fixed" style="background-image: url(images/slide2.jpg);"></li>
		</ul>
	</div>

	<div class="wrapper clearfix removeme-when-auth">
			<div class="code-for-ceremony">
				<form>
					<label>Παρακαλώ γράψτε τον κωδικό του προσκλητηρίου σας, προκειμένου να εμφανιστούν οι λεπτομέρειες.</label>
					<input type="text" placeholder="κωδικός προσκλητηρίου">
					<input type="submit" value="αποστολη">
				</form>
			</div>	
	</div>	
		
	<div  class="wrapper clearfix private-content">

			<h2 class="title">Η τοποθεσια</h2>
			
			<div class="ceremony-1">
				<span class="image pile">
					<img src="images/church.jpg" width="300" height="300" alt="Church">
				</span>
				<h3>Το μυστήριο</h3>
				<p>8:00 μ.μ.</p>
				<p>Παναγία Μυρτιδιώτισσα</p>
				<p>Λεωφ. Κυθηρίων 71, Άλιμος</p>
				<a class="map" href="http://goo.gl/maps/7SGK7" target="_blank">Εμφάνιση στο Google Maps</a>
				<!-- <div class="pile my_map"><div id="map-ceremony"></div></div>		 -->
			</div>
			<div class="ceremony-2">
				<span class="image pile">
					<img src="images/reception.jpg" width="300" height="300" alt="Reception">
				</span>
				<h3>Η δεξίωση</h3>
				<p>9:30 μ.μ.</p>
				<p>Αίθουσα "Αρίων"</p>
				<p>Πειραιώς 48, Μοσχάτο</p>
				<a class="map" href="http://goo.gl/maps/Otpza" target="_blank">Εμφάνιση στο Google Maps</a>	
				<!-- <div class="pile my_map"><div id="map-reception"></div></div>		 -->
			</div>
			
		</div>
</section>
