<header class="header" role="banner">
			<h1 class="wrapper"><span>η Εύη</span> & <span>ο Μάριος</span></h1>
			<div class="images"><span class="her pile"></span><span class="him pile"></span></div> 
			<h2>
				<span class="event">παντρεύονται</span>
				<span class="date">27 Οκτωβρίου 2013</span>
				<span id="timer" class="timer"></span>
			</h2>		
</header>