<section id="registry" class="registry private-content">
	<div class="wrapper">
		<h2 class="title">Τα δωρα</h2>
		<h3>Μερικές καταπληκτικές ιδέες</h3>
		<p>Η παρουσία σας είναι αρκετή για εμάς! Αν όμως αισθάνεστε γενναιόδωροι, έχουμε μεριμνήσει για τη διευκόλυνσή σας:</p>
		<ul>
			<li><a href="#" id="peiraios"><%= image_tag "peiraios-logo.jpg", :alt => "Trapeza Peiraios"%></a></li>
		</ul>
	</div>
</section>