<section id="rsvp" class="contact private-content">
		<h2 class="title">Πρόσκληση</h2>
	<div class="wrapper">

		<h3>Ελπίζουμε να παρευρεθείτε στο γάμο μας!</h3>
		<p>Παρακαλούμε να μας ενημερώσετε έως τις 10 Οκτωβρίου 2013.</p>
		
		<div id="hotel">
			<h4>Έρχεστε απο μακριά;</h4>
			<p>Ξέρουμε ότι θα διανύσετε αρκετά μίλια και χιλιόμετρα, γι' αυτό εξασϕαλίσαμε προνομιακή διαμονή για τους καλεσμένους μας!</p>
			<a href="http://www.poseidonhotel.com.gr/page/en/poseidon-hotel-athens" target="_blank">Poseidon Hotel</a>
			<p>Ενημερώστε μας εγκαίρως για την άϕιξη σας!</p>
		</div>	

		<h3>Ή επικοινωνήστε μαζί μας απευθείας:</h3>
		<div class="contact-details contact-details-1">
			<h4>Ευη</h4>
			<p>+30 6976 552 469</p>
			<p>
				<a href="mailto:evianagnostakou@gmail.com">evianagnostakou@gmail.com</a>
			</p>
		</div>
		<div class="contact-details contact-details-2">
			<h4>Μαριος</h4>
			<p>+30 6957 686 629</p>
			<p>
				<a href="mailto:marios.ant@qboss.eu">marios.ant@qboss.eu</a>
			</p>
		</div>
			
	</div>
		
</section>
