<section id="rsvp" class="contact private-content">
		<h2 class="title">Πρόσκληση</h2>
	<div class="wrapper">

		<div id="note">
			<p>Ελπίζουμε να παρεβρεθείτε στο γάμο μας!</p> 
			<p>Παρακαλούμε να μας ενημερώσετε έως τις 10 Οκτωβρίου 2013.</p>
		</div>
		
		<form action="#" method="post">
			
			<fieldset>
				<h3>Will you be attending at the events?</h3>
				<div class="checkbox">
					<input type="checkbox" name="check-ceremony" id="check-ceremony" >
					<label for="check-ceremony">I (we) will be attending the ceremony.</label>
				</div>
				<div class="checkbox">
					<input type="checkbox" name="check-reception" id="check-reception" >
					<label for="check-reception">I (we) will be attending the reception.</label>
				</div>
			</fieldset>

			<fieldset id="guests">
				<h3>Guest Details:</h3>
				<input type="text"  id="adults" name="adults" placeholder="Number of Adult Guests*">
				<input type="text"  id="children" name="children" placeholder="Number of Children">
			</fieldset>
			
			<fieldset>
				<h3>Personal Informations:</h3>
				<input type="text" id="name" name="name" placeholder="Your Name*">
				<input type="email" id="email" name="email" placeholder="Your E-mail*">
				<textarea name="message" class="form-message" id="message" placeholder="Want to drop us a line ?"></textarea>
			</fieldset>
			
			<input type="submit" class="submit" id="send" value="send">
			
		</form>
		
		<h3>Ή επικοινωνήστε μαζί μας απευθείας:</h3>
		<div class="contact-details contact-details-1">
			<h4>Ευη</h4>
			<p>+44 6 10 23 45 78</p>
			<p>
				<a href="mailto:jennifer@mail.com?subject=RSVP">jennifer@mail.com</a>
			</p>
		</div>
		<div class="contact-details contact-details-2">
			<h4>Μαριος</h4>
			<p>+44 6 10 23 45 79</p>
			<p>
				<a href="mailto:marios.ant@qboss.eu?subject=RSVP">marios.ant@qboss.eu</a>
			</p>
		</div>
			
	</div>
		
</section>
